templates/epic-network-template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>6ea17fb2-0188-1000-2dde-f59635012130</groupId>
    <name>epic-network-template</name>
    <snippet>
        <controllerServices>
            <id>0bbe8d6d-d3de-37ac-0000-000000000000</id>
            <parentGroupId>32a28eaa-a53c-347c-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-cassandra-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Cassandra Contact Points</key>
                    <value>
                        <name>Cassandra Contact Points</name>
                    </value>
                </entry>
                <entry>
                    <key>Client Auth</key>
                    <value>
                        <name>Client Auth</name>
                    </value>
                </entry>
                <entry>
                    <key>Consistency Level</key>
                    <value>
                        <name>Consistency Level</name>
                    </value>
                </entry>
                <entry>
                    <key>Compression Type</key>
                    <value>
                        <name>Compression Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Keyspace</key>
                    <value>
                        <name>Keyspace</name>
                    </value>
                </entry>
                <entry>
                    <key>Username</key>
                    <value>
                        <name>Username</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>read-timeout-ms</key>
                    <value>
                        <name>read-timeout-ms</name>
                    </value>
                </entry>
                <entry>
                    <key>connect-timeout-ms</key>
                    <value>
                        <name>connect-timeout-ms</name>
                    </value>
                </entry>
            </descriptors>
            <name>CassandraSessionProvider</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Cassandra Contact Points</key>
                    <value>cassandra-node:9042</value>
                </entry>
                <entry>
                    <key>Client Auth</key>
                    <value>REQUIRED</value>
                </entry>
                <entry>
                    <key>Consistency Level</key>
                    <value>ONE</value>
                </entry>
                <entry>
                    <key>Compression Type</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>Keyspace</key>
                    <value>epicnet</value>
                </entry>
                <entry>
                    <key>Username</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>read-timeout-ms</key>
                </entry>
                <entry>
                    <key>connect-timeout-ms</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.service.CassandraSessionProvider</type>
        </controllerServices>
        <processGroups>
            <id>b73f5957-baea-3287-0000-000000000000</id>
            <parentGroupId>32a28eaa-a53c-347c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>3433c2da-ccfe-3bd8-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>239360a8-1b7c-3e4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>5617c1ef-7557-3550-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4d7d5d1c-f4cb-3ea1-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>fb9236b8-12bc-337f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>5511854a-d921-3850-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6651a594-7adc-3473-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>65cfc913-66bc-39cd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>54472ced-6c4d-322d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6d567c55-5847-3c22-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>f784869c-b413-3dfe-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>5511854a-d921-3850-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6df848ab-c982-361b-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>9f1de264-461e-39b1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>5617c1ef-7557-3550-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6e27b19e-a9c8-35c4-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>5617c1ef-7557-3550-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>981b620a-dda6-370a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>71727af2-3808-3f51-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>f784869c-b413-3dfe-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>fb9236b8-12bc-337f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>79a4155c-c2c3-3844-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>89ce86f7-83ef-3624-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>fb9236b8-12bc-337f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8a5064c7-a2a4-3194-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>f784869c-b413-3dfe-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>5617c1ef-7557-3550-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a4d62847-ccb3-3941-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>f784869c-b413-3dfe-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>9f1de264-461e-39b1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b07dd716-722c-3fd1-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>5511854a-d921-3850-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>9f1de264-461e-39b1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e5cd39ba-8e76-395c-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>4233e130-7062-3d24-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>f784869c-b413-3dfe-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ec569b0b-4f63-3714-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>6821c355-ed5c-3a2a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>65cfc913-66bc-39cd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fb1e9a8a-86b3-3a23-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>8e32f39a-4737-3a83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b73f5957-baea-3287-0000-000000000000</groupId>
                        <id>239360a8-1b7c-3e4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>239360a8-1b7c-3e4c-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1928.0</x>
                        <y>176.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Category</key>
<value>
    <name>Category</name>
</value>
                            </entry>
                            <entry>
<key>Make</key>
<value>
    <name>Make</name>
</value>
                            </entry>
                            <entry>
<key>Year</key>
<value>
    <name>Year</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>Category</key>
<value>${Category:equals('SUV')}</value>
                            </entry>
                            <entry>
<key>Make</key>
<value>${Make:equals('Toyota')}</value>
                            </entry>
                            <entry>
<key>Year</key>
<value>${Year:toNumber():lt(2010)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ROUTE EPIC.ALERTS</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d60000</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>4233e130-7062-3d24-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>664.0</x>
                        <y>632.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>logs-failure/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PUT LOGS IN FILE</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#faea03</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>54472ced-6c4d-322d-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1928.0</x>
                        <y>616.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-cassandra-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>cassandra-connection-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.cassandra.CassandraSessionProviderService</identifiesControllerService>
    <name>cassandra-connection-provider</name>
</value>
                            </entry>
                            <entry>
<key>Cassandra Contact Points</key>
<value>
    <name>Cassandra Contact Points</name>
</value>
                            </entry>
                            <entry>
<key>Keyspace</key>
<value>
    <name>Keyspace</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Client Auth</key>
<value>
    <name>Client Auth</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Consistency Level</key>
<value>
    <name>Consistency Level</name>
</value>
                            </entry>
                            <entry>
<key>Compression Type</key>
<value>
    <name>Compression Type</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>CQL select query</key>
<value>
    <name>CQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>Fetch size</key>
<value>
    <name>Fetch size</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>timestamp-format-pattern</key>
<value>
    <name>timestamp-format-pattern</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>cassandra-connection-provider</key>
<value>0bbe8d6d-d3de-37ac-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cassandra Contact Points</key>
                            </entry>
                            <entry>
<key>Keyspace</key>
<value>epicnet</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Client Auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>admin</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Consistency Level</key>
<value>ONE</value>
                            </entry>
                            <entry>
<key>Compression Type</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>CQL select query</key>
<value>select year from cars;</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>Fetch size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Avro</value>
                            </entry>
                            <entry>
<key>timestamp-format-pattern</key>
<value>yyyy-MM-dd HH:mm:ssZ</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SELECT YEARS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#9600db</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.cassandra.QueryCassandra</type>
                </processors>
                <processors>
                    <id>5511854a-d921-3850-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1272.0</x>
                        <y>624.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Slug</key>
<value>
    <name>Slug</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Slug</key>
<value>$.Slug</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EXTRACT SLUG</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#6ed400</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>5617c1ef-7557-3550-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>176.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Category</key>
<value>
    <name>Category</name>
</value>
                            </entry>
                            <entry>
<key>Make</key>
<value>
    <name>Make</name>
</value>
                            </entry>
                            <entry>
<key>Model</key>
<value>
    <name>Model</name>
</value>
                            </entry>
                            <entry>
<key>Year</key>
<value>
    <name>Year</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Category</key>
<value>$.Category</value>
                            </entry>
                            <entry>
<key>Make</key>
<value>$.Make</value>
                            </entry>
                            <entry>
<key>Model</key>
<value>$.Model</value>
                            </entry>
                            <entry>
<key>Year</key>
<value>$.Year</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EXTRACT JSON VALUES</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#6ed400</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>65cfc913-66bc-39cd-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1928.0</x>
                        <y>840.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CONVERT QUERY TO JSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#6ed400</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>6821c355-ed5c-3a2a-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1936.0</x>
                        <y>1064.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>
    <name>Failure Strategy</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka-1:29092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>epic.years</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>Route to Failure</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PUBLISH EPIC.YEARS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d60000</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
                </processors>
                <processors>
                    <id>89ce86f7-83ef-3624-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1280.0</x>
                        <y>1064.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-cassandra-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>cassandra-connection-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.cassandra.CassandraSessionProviderService</identifiesControllerService>
    <name>cassandra-connection-provider</name>
</value>
                            </entry>
                            <entry>
<key>Cassandra Contact Points</key>
<value>
    <name>Cassandra Contact Points</name>
</value>
                            </entry>
                            <entry>
<key>Keyspace</key>
<value>
    <name>Keyspace</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Client Auth</key>
<value>
    <name>Client Auth</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Consistency Level</key>
<value>
    <name>Consistency Level</name>
</value>
                            </entry>
                            <entry>
<key>Compression Type</key>
<value>
    <name>Compression Type</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>putcql-stmt-cache-size</key>
<value>
    <name>putcql-stmt-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>cassandra-connection-provider</key>
<value>0bbe8d6d-d3de-37ac-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cassandra Contact Points</key>
                            </entry>
                            <entry>
<key>Keyspace</key>
<value>epicnet.cars</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Client Auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>admin</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Consistency Level</key>
<value>ONE</value>
                            </entry>
                            <entry>
<key>Compression Type</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>1 seconds</value>
                            </entry>
                            <entry>
<key>putcql-stmt-cache-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PUT CASSANDRA</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#9600db</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.cassandra.PutCassandraQL</type>
                </processors>
                <processors>
                    <id>8e32f39a-4737-3a83-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1928.0</x>
                        <y>400.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>
    <name>Failure Strategy</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka-1:29092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>epic.alerts</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>Route to Failure</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PUBLISH EPIC.ALERTS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d60000</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
                </processors>
                <processors>
                    <id>981b620a-dda6-370a-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>-56.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>
    <name>separate-by-key</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka-1:29092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>epic.detections</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>test</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>false</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CONSUME EPIC.DETECTIONS</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#03279e</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0</type>
                </processors>
                <processors>
                    <id>9f1de264-461e-39b1-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>400.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>[}]</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>{"Year": ${Year}, "Make": "${Make}", "Model": "${Model}", "Category": "${Category}", "Slug": "${Make:toLower():replace(' ', '-')}-${Model:toLower():replace(' ', '-')}-${Category:toLower():replace(', ', '-'):replace(' ', '-'):replace('/','-')}"}
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Always Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ADD SLUG FIELD</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#6ed400</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>f784869c-b413-3dfe-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>672.0</x>
                        <y>392.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>failure.</value>
                            </entry>
                            <entry>
<key>log-message</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LOG-FAILURE</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#faea03</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>fb9236b8-12bc-337f-0000-000000000000</id>
                    <parentGroupId>b73f5957-baea-3287-0000-000000000000</parentGroupId>
                    <position>
                        <x>1280.0</x>
                        <y>848.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>insert into cars (id, year, make, model, category, slug) values (uuid(), ${Year}, '${Make}', '${Model}', '${Category}', '${Slug}');</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Always Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>INSERT CQL STATEMENT</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#6ed400</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>EPIC-NETWORK</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/30/2023 23:22:01 UTC</timestamp>
</template>
